---
import { Icon } from "astro-icon/components";
---

<section id="contact" class="contact scroll-mt-5 py-14">
  <div class="section-title text-center" data-aos="fade-up">
    <h2>CONTACT US</h2>
  </div>
  <div class="flex flex-wrap">
    <div class="lg:w-1/3 md:w-1/2 w-full shrink-0 px-2" data-aos="fade-up" data-aos-delay="100">
      <div class="contact-about">
        <h3>Akeshya</h3>
        <p>
          Designers, developers &amp; marketeers capable of delivering solutions
          according to your needs,
        </p>
      </div>
    </div>
    <div class="lg:w-1/4 md:w-1/2 w-full shrink-0 px-2" data-aos="fade-up" data-aos-delay="200">
      <div class="info">
        <div>
          <Icon class="custom-icon" name="ri:map-pin-line" />
          <p>
            26-2-789, 7th street, Jyothi Nagar, Nellore, Andhra Pradesh 524004
          </p>
        </div>

        <div>
          <Icon class="custom-icon" name="ri:mail-send-line" />
          <p>info@akeshya.com</p>
        </div>

        <div>
          <Icon class="custom-icon" name="ri:phone-line" />
          <p>+91 94942 40922</p>
        </div>
      </div>
    </div>
    <div class="lg:w-5/12 md:w-full w-full shrink-0 px-2" data-aos="fade-up" data-aos-delay="300">
      <form class="email-form">
        <input type="hidden" name="form-name" value="contact" />
        <div class="form-group">
          <input
            type="text"
            name="name"
            class="custom-form-control"
            id="name"
            placeholder="Your Name"
            required=""
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="custom-form-control"
            name="email"
            id="email"
            placeholder="Your Email"
            required=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="custom-form-control"
            name="subject"
            id="subject"
            placeholder="Subject"
            required=""
          />
        </div>
        <div class="form-group">
          <textarea
            class="custom-form-control"
            name="message"
            rows="5"
            placeholder="Message"
            required=""></textarea>
        </div>

        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</section>

<style>
  .section-title {
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
    margin-bottom: 10px;
  }
  .section-title h2::before,
  .section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
  }
  .section-title h2::before {
    margin: 0 15px 10px 0;
  }

  .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  .contact .contact-about h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: #14279b;
  }
  .contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #888;
  }
  .contact .info {
    color: #444444;
  }
  .custom-icon {
    font-size: 32px;
    color: #14279b;
    float: left;
    line-height: 1;
  }
  .contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .contact .email-form input,
  .contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
  }
  .custom-form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    outline: none;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .custom-form-control:focus {
    border-color: #14279b;
  }

  .contact .email-form button[type="submit"] {
    background: #14279b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
</style>
