<section class="other-services py-14">
  <div class="section-title text-center" data-aos="fade-up">
    <h2>OUR PROCESS</h2>
    <p>
      Over the years we’ve evolved a tested method for attaining achievement for
      each one of our clients.
    </p>
  </div>
  <div class="flex flex-wrap overflow-hidden">
    <div class="md:w-2/4 flex items-stretch">
      <div class="card" data-aos="fade-up" data-aos-delay="100">
        <div class="card-body">
          <h5 class="card-title"><a href="">1. Planning</a></h5>
          <p class="card-text">
            We help you turn all of your ideas into a digital product that meets
            all of your requirements. We begin each project by determining its
            scope and needs. This is done by collaborating closely with you to
            ensure that we're all on the same page.
          </p>
        </div>
      </div>
    </div>
    <div class="md:w-2/4 flex items-stretch">
      <div class="card" data-aos="fade-up" data-aos-delay="200">
        <div class="card-body">
          <h5 class="card-title"><a href="">2. Design</a></h5>
          <p class="card-text">
            We build our websites carefully through a series of workshops,
            wire-framing, and user experience (UX) sessions, resulting in a site
            that reinforces trust, conveys important brand messaging, and
            provides a return on innovation.
          </p>
        </div>
      </div>
    </div>
    <div class="md:w-2/4 flex items-stretch">
      <div class="card" data-aos="fade-up" data-aos-delay="300">
        <div class="card-body">
          <h5 class="card-title"><a href="">3. Development</a></h5>
          <p class="card-text">
            We provide extensive front-end and back-end development that allows
            your idea to stand alone. Our in-house developers work side-by-side
            with the artistic team to seek out natural breakpoints inside the
            content and order practicality based on acknowledged statistics.
          </p>
        </div>
      </div>
    </div>
    <div class="md:w-2/4 flex items-stretch">
      <div class="card" data-aos="fade-up" data-aos-delay="400">
        <div class="card-body">
          <h5 class="card-title"><a href="">4. Marketing</a></h5>
          <p class="card-text">
            We come up with ideas and campaigns to help your business prosper
            online. Our campaigns and virtual approach have a verified tune
            report of accomplishing brilliant results, gathering new leads and
            site visitors in your website and assist them convert.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .section-title {
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
    margin-bottom: 10px;
  }
  .section-title h2::before,
  .section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
  }
  .section-title h2::before {
    margin: 0 15px 10px 0;
  }

  .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  .section-title p {
    color: #444444;
  }
  .other-services .card {
    border: 0;
    padding: 160px 20px 20px 20px;
    width: 100%;
  }
  .other-services .card-body {
    z-index: 10;
    background: #f6f6f6;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
  }
  .other-services .card-body:hover {
    background: #14279b;
  }
  .other-services .card-body:hover .card-title a,
  .other-services .card-body:hover .card-text {
    color: #fff;
  }

  .other-services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  .other-services .card-text {
    color: #5e5e5e;
  }
  .card-text:last-child {
    margin-bottom: 0;
  }
  .other-services .card-title a {
    color: #222222;
  }
</style>
